@import 'lights.scss';
@import 'rooms.scss';


body {
    // background: #3b3b3b;
}

.groups-container {

    li {
        list-style: none;
    }
}

.btn {
    margin: 20px;
    transition: .5s background-color linear;

    &:focus {
        outline: none;
    }
}

